.containerWrapper {
	margin: 0;
	width: 100%;
	height: 220px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background-color: grey;
	/* text-align: center; */
}

.container {
	/* margin: 0;
	padding: 0; */
	text-align: center;
	width: 100vw;
	height: 220px;
	overflow: hidden;
	position: relative;
}

.container p {
	color: black;
	font-size: 70px;
	font-family: 'Source Sans Pro';
	font-weight: '700';
	text-align: center;
}

.first-word {
	/* position: absolute; */
	transform: translateY(1000px);
	animation: loadIn 0.75s ease 1.25s forwards;
}

.last-word {
	/* position: absolute; */
	right: 0;
	transform: translateY(1000px);
	animation: loadIn 1s ease 1.75s forwards;
}

@keyframes loadIn {
	0% {
		transform: translateY(0px);
	}
	100% {
		transform: translateY(20px);
	}
}
